@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
}

body {
  font-family: var(--font-bricolage-grotesque);
}

::-webkit-scrollbar {
  width: 0px;
}